* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
}

header {
  width: 100%;
  text-align: center;
}
header .active {
  background-color: #012d75;
}
header .active a {
  color: #b3e5fb !important;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
header ul li {
  padding: 20px;
}
header ul li:hover {
  background-color: #b3e5fb;
}
header ul li a {
  text-decoration: none;
  color: #012d75;
  font-size: 2em;
}

.jumbo {
  height: 80vh;
  background-image: url("../images/molisana-home.jpg");
}

.shop {
  display: flex;
  flex-wrap: wrap;
}
.shop .categoria {
  width: 100%;
}
.shop .prod-card {
  width: calc(100% / 3);
  position: relative;
}
.shop .prod-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.shop .prod-card .overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #012e7581;
}
.shop .prod-card .overlay a {
  text-decoration: none;
}
.shop .prod-card .overlay a h2 {
  color: white;
  font-size: 2.5em;
}
.shop .prod-card:hover .overlay {
  display: flex;
}

.img-news {
  width: 100%;
}

.prodotto {
  width: 100%;
  background-color: #b3e5fb;
  display: flex;
  flex-wrap: wrap;
}
.prodotto img {
  width: calc(100% / 2);
}
.prodotto img:first-child {
  width: 100%;
}
.prodotto h2 {
  font-size: 3em;
  text-align: center;
  width: 100%;
  color: white;
  padding: 20px 0;
}
.prodotto .info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prodotto .info p {
  padding: 30px;
}
.prodotto .info p i {
  padding: 0 20px;
  color: #012d75;
}
.prodotto p {
  font-size: 2em;
  line-height: 1.5;
  padding: 50px;
  text-align: center;
}

footer {
  width: 100%;
  height: 100px;
  background-image: url(../../img/footer-montagne-bottom.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer h3 {
  color: #b3e5fb;
  font-size: 3em;
  text-shadow: 3px 3px 1px #012d75;
}