* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
}

header {
  width: 100%;
  height: 300px;
  text-align: center;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header ul li {
  padding: 20px;
}

header ul li:hover {
  background-color: #b3e5fb;
}

header ul li a {
  text-decoration: none;
  color: #012d75;
  font-size: 2em;
}

