* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
}

header {
  width: 100%;
  text-align: center;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header ul li {
  padding: 20px;
}

header ul li:hover {
  background-color: #b3e5fb;
}

header ul li a {
  text-decoration: none;
  color: #012d75;
  font-size: 2em;
}

.jumbo {
  height: 80vh;
  background-image: url(/images/molisana-home.jpg?cb7db241726fb646d7e1c8553429c07c);
}

.shop {
  display: flex;
  flex-wrap: wrap;
}

.shop .prod-card {
  width: calc(100% / 3);
  position: relative;
}

.shop .prod-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop .prod-card .overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #012e7581;
}

.shop .prod-card .overlay h2 {
  color: white;
  font-size: 3em;
}

.shop .prod-card:hover .overlay {
  display: flex;
}

footer {
  width: 100%;
  height: 100px;
  background-image: url(/images/footer-montagne-bottom.jpg?d53b01335f4c26b84b40ca2ab0a64ece);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h3 {
  color: #b3e5fb;
  font-size: 3em;
  text-shadow: 3px 3px 1px #012d75;
}

